<%- include("partials/header") -%>
<!-- A simple file with two ejs variables that are populated with content of the post defined within the url. For example /post/Day-1 , would display the content for a post titled "Day 1"(if it exists) -->
<h1><%= title %> </h1>
<p><%= content %> </p>
<%- include("partials/footer") -%>
